<h3>Estadísticas del juego</h3><br/>
<table border="1" style="margin:0 auto">
  <tr>
    <th>Parámetro</th>
    <th>Valor</th>
  </tr>
  <tr>
    <td>Nº preguntas</td>
    <td><%= npreg %></td>
  </tr>
  <tr>
    <td>Nº Comentarios</td>
    <td><%= ncoment %></td>
  </tr>
  <tr>
    <td>Promedio de Coment/Preg</td>
    <td><%= promedio %></td>
  </tr>
  <tr>
    <td>Nº Preg. SIN coment.</td>
    <td><%= pregsin %></td>
  </tr>
  <tr>
    <td>Nº Preg. CON coment.</td>
    <td><%= pregcon %></td>
  </tr>
</table>