<form method="get" action="/quizes/<%= quiz.id %>/answer">
	<p>Pregunta: <%= quiz.pregunta %></p>
	<input type="text" name="respuesta" value="Respuesta" />
	<input type="submit" value="Enviar" />
</form>

<p><br/><a href="/quizes/<%= quiz.id %>/comments/new"><button>Nuevo comentario</button></a></p>

<p><strong>Comentarios:</strong></p>
<ul>
	<% for(index in quiz.Comments) { %>
		<% if (quiz.Comments[index].publicado) { %>
			<li><%= quiz.Comments[index].texto %></li>
		<% } else if (session.user && (session.user.isAdmin || (session.user && quiz.UserId === session.user.id))) { %>
			<li>
				<%= quiz.Comments[index].texto %>
				<a href="/quizes/<%= quiz.id %>/comments/<%= quiz.Comments[index].id %>/publish"><button>Publicar</button></a>
			</li>
		<% } %>
	<% } %>
</ul>
